.aliment-container{
}

.aliment-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.aliment {
    display: flex;
    width: 600px;
    height: 200px;
    align-items: center;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 3px lightgray;
}

.aliment-text-area {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;
    /* border-radius: 0px 40px 40px 0px; */
    /* background-image: linear-gradient(135deg, #ffd324 5%, #ec6d23); */
}

.aliment-text {
    text-align: left;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    opacity: 50%;
}

.aliment-image-area {
    width: 250px;
    height: 200px;
    /* border-radius: 40px 0 0 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #ffd324 5%, #ec6d23);
}

.aliment-image {
    /* margin-left: 50px; */
    width: 150px;
    max-height: 150px;
}
