.cart-page-container{
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: 90vh;
}

.cart-page-header {
    display: flex;
    width: 100%;
    position: relative;
    top: 60px;
    height: 50px;
}

.your-cart {
    position: relative;
    font-size: larger;
    opacity: 30%;
    left: 10%;
    bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cart-trait {
    position: relative;
    width:80%;
    left: 159px;
    bottom: 28px;
    opacity: 30%;
}

.cart-aliments{
    display: flex;
    position: relative;
    top: 30px;
}