.fridge-page-container {
    background-color: rgb(255, 255, 255);
    height: 90vh;
}

.fridge-page-content {
    position: relative;
    top: 20px;
    display: flex;
    gap: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fridge-page-deco {
    display: flex;
    width: 100%;
    position: relative;
    top: 60px;
    height: 50px;
}

.your-fridge {
    position: relative;
    font-size: larger;
    opacity: 30%;
    left: 10%;
    bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fridge-trait {
    position: relative;
    width: 78%;
    left: 159px;
    bottom: 28px;
    opacity: 30%;
}

.fridge-form {
    position: sticky;
    top: 30px;
    align-self: flex-start;
}

.search-aliment-fridge {
    position: sticky;
    top: 30px;
    align-self: flex-start;
}

@media (max-width:600px) {

    .container,
    .aliment-content {
        flex-direction: column;
    }
}