.login-form-container {
    background-image: linear-gradient(120deg, rgb(60, 155, 158), rgb(255, 255, 255));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-content {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.login-form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 80px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.login-input {
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
}

.login-title{
    position: relative;
    top: 40px;
    font-size: larger;
    color: black;
    font-family: "Great Vibes", cursive; 
    font-weight: bolder; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;
}

.login-forgot-password, .login-register-link{
    opacity: 80%;
    color: #673ab7;
    font-size: small;
}

.login-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 60px;
    top: 100px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    background: #673ab7;
    border-radius: 0 0 20px 20px;

    span {
        position: absolute;
        display: block;
        margin: -10px 20%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: .5s;
        transition: .5s;
    }

    &:hover {
        span {
            -webkit-transform: translateX(30px);
            transform: translateX(30px);
        }
    }
}

