.message-page-container{
    background-color: rgb(240, 240, 240);
    height: 95h;
    display: flex;
    justify-content: center;
}

.message-page-content{
    display: flex;
    justify-content: center;
}
