@mixin laptop{
    @media screen and (max-width:600px){
        @content
    }
}

.message-page-container{
    background-color: rgb(240, 240, 240);
    height: 95h;
    display: flex;
    justify-content: center;
}

.message-page-content{
    display: flex;
    justify-content: center;
    @include laptop{
        display:none;
    }
}

.chat-list{
    flex: 1;
}

.message-box{
    flex: 2;
}
