.user-page-container{
   background-color: rgb(239, 239, 239);
   height: 95vh;
}
.user-page-deco{
    display: flex;
    flex-direction: column;
}
.user-profile{
    position: relative;
    font-size: larger;
    opacity: 30%;
    right: 37%;
    top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trait{
    position: relative;
    width: 80%;
    left: 20%;
    top: -28px;
    opacity: 30%;
}

.user-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile{
    position: relative;
    width: 210px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 3px lightgray;
}

.profile-pic{
    position: relative;
    border-radius: 90px;
    top: 20px;
    width: 150px;
    box-shadow: 10px 3px 6px lightgray;
}

.name-under-pic{
    text-align: center;
    opacity: 50%;
    height: 10px;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.personal-infos{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 300px;
    box-shadow: 5px 5px 3px lightgray;
}

.personal-infos-word{
    position: relative;
    text-align: center;
    opacity: 30%;
    top: 15px;
}

.left-info{
    position: relative;
    font-size: 15px;
    text-align: left;
    left: 30px;
    top: 20px;
    opacity: 40%;
}

.right-info{
    position: relative;
    font-size: 15px;
    text-align: left;
    left: 230px;
    bottom: 190px;
    opacity: 40%;
}

.user-data-container{
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 3px lightgray;
    bottom: -50px;
    left: 46px;
}

.infos-bottom{
    padding: 0;
    margin: -5px 62px;
    opacity: 100%;
}

.bottom-images{
    padding: 0;
    width: 60px;
}

.values{
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: -25px;
}
.notifications-container{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 210px;
    height: 300px;
    box-shadow: 5px 5px 3px lightgray;
}

.notifications-word{
    position: relative;
    text-align: center;
    opacity: 30%;
}
