a{
    text-decoration: none;
}

.banner-container{
    background-color: white;
    color: grey;
    border-bottom: 3px solid rgb(245, 245, 245);
}
.banner-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0 auto;
    padding: 0 30px;
    height: 100px;
    max-width: 1280px;
    background-color: rgb(245, 245, 245);
}

.banner-content-NX{
    margin: 0 auto;
    padding: 0 30px;
    height: 50px;
    max-width: 1280px;
    background-color: rgb(245, 245, 245);
}
.search-bar-container {
    position: absolute;
    display: flex;
    vertical-align: middle;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    width: 50%;
    height: 42px;
    padding: 0px 10px;
    top:0;
    right:0;
    left:30px;
    bottom:0;
    border-radius: 90px;
    border: 4px solid rgb(235, 235, 235);
    color: rgb(88, 87, 87);
}

.search-bar-container-NX{
    position: absolute;
    margin-top: 10px;
    width: 50%;
    height: 30px;
}
.loop-icon{
    width: 60px;
}

.search-bar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search-bar-content {
    border: none;
    border-radius: 90px;
    height: 90%;
    width: 90%;
    font-size: 13px;
    margin-bottom: 5%;
    /* padding: -5px 5px; */
}

.search-bar-content:focus{
    outline: none;
}
.home-item{
    position: absolute;
    top: 5px;
    left: 10%;
}

.home-item-NX{
    position: absolute;
    top : -15px;
}

.home-word{
    color: #000;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    margin-top: -30px;
}

.home-item img{
    position: relative;
    width:90px;
}

.map-item{
    position: absolute;
    top: 15px;
    left: 87%;
}

.map-item-NX{
    position: absolute;
    top: 0;
 }

 .map-word{
    color: #000;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    margin-top: -15px;
}

.map-item img{
    position: relative;
    width: 60px;
}

.nav-bar-visible{
    position: absolute;
    right: 17%;
    top: 13%;

    background: none;
    border: none;
    cursor: pointer;

    margin: auto -35px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    padding: 0 13px;
    border-radius: 90px;
    height: 50px;
    width: 50px;
}

.nav-bar-visible span{
    display:block;
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 3px;
    width: 20px;
    
    transition: 0.4s;
}


.nav-bar-visible:hover span{
    margin: auto;
}

.nav-bar-visible-out{
    position: absolute;
    right: 17%;
    top: 5%;
}
.nav-bar-visible-in:hover span:nth-child(1){
    width: 20px;
    transform: translate(-6px,0px) rotate(-45deg);
}

.nav-bar-visible-in:hover span:nth-child(2){
    display: none;
}

.nav-bar-visible-in:hover span:nth-child(3){
    width: 20px;
    transform: translate(6px,-3px) rotate(45deg);
}

.nav-bar-visible-out:hover span:nth-child(1){
    width: 20px;
    transform: translate(-6px,7px) rotate(45deg);
}

.nav-bar-visible-out:hover span:nth-child(2){
    display: none;
}

.nav-bar-visible-out:hover span:nth-child(3){
    width: 20px;
    transform: translate(6px,4px) rotate(-45deg);
}